/*General styles*/
body {
    font-family: "Luckiest Guy";
    background-color: #E5CDCD ;
    
}


h1{
    font-size: 3rem;
    
    
}
/*Header*/
input{
    font-family: "Luckiest Guy";
    font-size: 1.25rem;
    border:none;
    background-image: #E5CDCD;
    border-radius: .25rem;
    padding: .25rem;
    width: 50%;
}
.life{
    width: 2.5rem;
}
.player-comp{
 font-size: 1.5rem;
}
#names{
    padding: 0 2rem;
    display: flex;
    justify-content:space-between;
}
.playerName{
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*Main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
    
   }
#startGame{
    display: flex;
    gap: 3rem;
    margin: 1rem;
    align-items: center;
}

#startButton {
    background-color: #10C517; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde por defecto */
    border-radius: 50%; /* Hace que los bordes sean completamente redondos */
    width: 6rem; /* Define el ancho del botón */
    height: 6rem; /* Define la altura del botón para hacerlo circular */
    font-family: "Luckiest Guy"; /* Cambia el tipo de letra */
    font-size: 1.5rem; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa el mouse sobre el botón */
    outline: none; /* Elimina el contorno que aparece al hacer clic en algunos navegadores */
    transition: background-color 0.3s; /* Suaviza la transición de color al interactuar */
}

#startButton:hover {
    background-color: darkgreen; /* Cambia el color al pasar el mouse */
}
#choices{
    margin: 1rem;
}
#computerChoice{
  margin: 1rem;  
}

.choose{
    font-size: 1.5rem;
    margin: 0;
}
.choice{
    width: 15rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 1.5rem;
}
#choices{
    display: flex;
}
.comp-choice{
    width: 15rem;
    margin: 0;
}
.comp-choice-word{
    margin: 0;
}
.selector {
    position:relative;
    margin: 0;
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 3rem solid #10C517;  /* El color del triángulo */
    opacity: 0; /* Inicialmente oculto */
    bottom: 4rem; /* Ajusta según necesites */
    left: 50%; /* Centra el triángulo */
    transform: translateX(-50%); /* Asegura que el triángulo esté correctamente centrado */
    transition: opacity 0.1s ease; /* Suaviza la aparición/desaparición */
}
.choice-container:hover .selector {
    opacity: 1; /* Muestra el selector cuando el mouse está sobre el contenedor */
}
/*
bottom: 4rem;
left: 5.5rem;*/